# Sanity CMS
NEXT_PUBLIC_SANITY_PROJECT_ID=30x3sh80
NEXT_PUBLIC_SANITY_DATASET=production

# Vercel (auto-populated on deploy)
VERCEL_URL=

# Optional: Sanity Revalidation Token (for ISR)
SANITY_API_TOKEN=your_api_token_here
